body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

body:has(.window) {
    background-color: white;
}

body:has(.fullscreen) {
    background-color: black;
}


.container {
    color: #00FF00;
    border-color: gray;
    background-color: black;
}

.container.window {
    border-style: solid;
    border-radius: 25px;
    padding-top: 20px;
    padding: 20px;
    margin: 5vh;
    margin-right: 20vw;
    margin-left: 20vw;
}

.container.fullscreen {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 0vh;
}

.top-bar {
    padding: 0px;
    margin: 0px;
}

.btn {
    border-style: none;
    color: #00FF00;
    background-color: black;
    padding: 0;
    margin-top: 15px;
    margin-left: 10px;

}