body {
    font-family: Poppins, sans-serif;
    background-color: white;
}

.container {
    border-style: solid;
    border-radius: 50px;
    padding-top: 20px;
    padding: 20px;
    margin: 10vh;
    margin-right: 20vw;
    margin-left: 20vw;
}