body {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}

body:has(.window) {
    background-color: white;
}

body:has(.fullscreen) {
    background-color: black;
}


.container {
    color: #00FF00;
    border-color: gray;
    background-color: black;
}

.container.window {
    border-style: solid;
    border-radius: 25px;
    padding-top: 20px;
    padding: 20px;
    margin: 5vh;
    margin-right: 20vw;
    margin-left: 20vw;
}

.container.fullscreen {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 0vh;
}

.nav-item {
    position: relative; /* establishes positioning context for popup */
    display: inline-block;
}

.popup {
    position: absolute;
    top: 100%;   /* align popup top to button bottom */
    left: 0;     /* align left edges */
    background: #222222;
    padding: 10px;
    z-index: 20;
}

.nav-bar {
    display: flex;
    flex-direction: column;
}

.nav-btn {
    width: fit-content;
}

.nav-bar-buttons {
    display: flex;
    flex-direction: row;
}

.top-bar {
    padding: 0px;
    margin: 0px;
    font-size: 0px;
}

.btn {
    border-style: none;
    color: #00FF00;
    background-color: black;
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 13.3333px;
}
.btn:hover {
    background-color: #333333;
}
